@model SQL.Models.Table

@{
    ViewData["Title"] = "Details";
}

<style>
    #body{
        display:flex;
        justify-content:center; 
        margin-top:10px;
        background-color:black;
        color:white;
        }

    #a{
        color:white;
        font-weight:bold;
    }
</style>

<h3>Details</h3>

<div>
    <div class="container" id="body"> 
    <dl class="row" style="margin-top:10px">
        <dt class = "col-sm-2" id="text">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <div>
            <a id="a" class="btn btn-outline-dark" style="text-decoration:none" asp-action="Edit" asp-route-id="@Model?.ID"><i class="bi bi-pencil-square"></i>Edit</a>
            <a id="a" class="btn btn-outline-dark" asp-action="Index"><i class="bi bi-caret-left"></i>Back to List</a>
        </div>
    </dl>
</div>
</div>

